@use '../../styles/variables' as V;

.isbnFormModal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 19.5rem;
  height: 27rem;
  border-radius: 15px;
  border: solid 1px V.$pink-color;
  background-image: url('/assets/icons/bg3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  box-shadow: 2px 2px 40px 2px #000000;

  h2 {
    font-family: V.$main-font;
    font-weight: bold;
    text-align: center;
  }
  &__img {
    width: 15rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__input {
    font-family: V.$secondary-font;
    border: 1px solid V.$pink-color;
    border-radius: 10px;
    padding: 0.4rem;
  }

  &__btn {
    font-family: V.$main-font;
    font-weight: bold;
    background: V.$pink-color;
    padding: 0.5rem;
    border-radius: 15px;
    color: V.$font-color-dark-bg;
  }
}

@media screen and (min-width: 768px) {
  .isbnFormModal {
    width: 25rem;
    height: 30rem;
    left: 50%;

    &__img {
      width: 20rem;
    }
  }
}

@media screen and (min-width: 1080px) {
  .isbnFormModal {
    left: 30%;
  }
}
