$grey-menu: #252a34;
$pink-color: #ff2e63;
$pink-bg: #fcf3f3;
$gray-icon: #666666;
$dark-grey: rgb(78, 78, 78);
$input-color: #eaeaea;
$white-color: white;
$font-color-dark-bg: #ffffff;
$font-color-light-bg: black;
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
