.carousel {
  width: 70%;
  margin: 0 auto;
  &__img {
    max-width: 100%;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    &-btn {
      width: 25px;

      &--left {
        transform: rotateZ(180deg);
      }
    }
  }
}
