@use '../../styles/variables' as V;

.about {
  @media screen and (min-width: 768px) {
    margin: 0 4rem;
    height: 100vh;
  }
  &__title {
    font-size: 2rem;
    text-align: center;
    color: V.$pink-color;
    font-weight: bold;
    padding: 2rem;
  }

  &__content {
    font-size: 1rem;
    padding: 1.5rem;

    @media screen and (min-width: 768px) {
      font-size: 1.3rem;
    }
  }
}
