@use '../../styles/variables' as V;

.dialogMessage {
  position: fixed;
  height: fit-content;
  width: 15rem;
  top: 5rem;
  left: 5rem;
  background-color: rgb(181, 221, 181);
  color: V.$font-color-light-bg;
  z-index: 20;

  border: solid 2px green;
  border-radius: 1rem;
  padding: 1rem;

  @media screen and (min-width: 768px) {
    width: 20rem;
    top: 5rem;
    left: 40%;
  }
  &__close-btn {
    position: absolute;
    transform: rotateZ(45deg);
    top: 3px;
    right: 3px;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background: green;
  }
}
